*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}



nav{

    background-color: #ff0000;
    height: auto;
    text-decoration: none;
    font-family: Luckiest Guy; 
    
}

.image{
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    border: none;
}

button:hover{
    background-color: #ff0000;
}

/* animation de la première image */

.zoom-wrapper{
    height: 600px;
    overflow: hidden;
    border-radius: 16px;
    justify-content: center;
}

.zoom-wrapper img {
    object-fit: cover;
    transition: 0.8s;
    height: 100%;
}

.zoom-wrapper:hover img{
    transform: scale(1.5);
}


/* Bloc après la deuxième image */

.grande-image-background{

    background-image: url(image/Yango-Algerie-lancement\(copie\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}


.Premier-titre-paragraphe{
    margin: 60px;
    display: flex;
    justify-content: space-between;
}

.Premier-titre{
    font-family: Luckiest Guy;
    font-size: 60px;
    text-align: center;
}

.paragraphe-titre-1{
    font-size: 20px;
    font-family: Luckiest Guy;
    text-align: center;  
}

.paragraphe-titre-2, p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.Lasuite-2{
    text-align: center;
}



/* Les media Queries */

@media screen and (max-width: 933px;){

    .nav-cont{
        flex-direction: row;
    }

    .yango-passager{
        display: none;
    }

    .DIV-MODIF{
        opacity: 1;
    }

    .list-déroulante{
        flex-direction: column;
    }
}

.DIV-MODIF{
    opacity: 0;
    background-color: white;
}
    
